<div id="sidebar">
	<div id="topbar">
		<a href="https://tonejs.github.io">Tone.js</a>
		<span id="version">v{{version}}</span>
	</div>
	<div id="contents">
		<div id="search">
			<input type="text" placeholder="Search">
			<button aria-label="clear">
				&#215;
			</button>
		</div>
		<div id="inner">
			{{#with (toc)}}
				{{#each this}}
					<div class="section">
						<h3>{{title}}</h3>
						{{#each children}}
							<div class="category">
								<h4>{{title}}</h4>
								<div>
									{{#each this.children}}
										{{#ifCond ../../../../name '==' this}}
											<div class="instance target">
												<a href="{{this}}">
													{{this}}
												</a>
											</div>
										{{else}}
											<div class="instance">
												{{#ifCond ../../title '==' 'Functions'}}
													<a href="fn/{{this}}">
														{{this}}
													</a>
												{{else}}
													<a href="{{this}}">
														{{this}}
													</a>
												{{/ifCond}}
											</div>
										{{/ifCond}}
									{{/each}}
								</div>
							</div>
						{{/each}}
					</div>
				{{/each}}
			{{/with}}
		</div>
	</div>
</div>
