{{#if parameters.length}}
	<h5>Parameters:</h5>
	<div id="signature-parameters">

		{{#each parameters}}
			<div class="signature-parameter">
				<div id="top">
					{{#if flags.isOptional}}
						<span class="signature-prefix">optional</span> 
					{{/if}}
					{{#if defaultValue}}
						<span class="signature-prefix">default</span> 
					{{/if}}
					{{#if flags.isRest}}
						<span class="signature-prefix">multiple</span> 
					{{/if}}
					<span class="name">{{name}}</span>
					{{!-- <span class="signature-symbol">(</span>
					{{>type type}}
					<span class="signature-symbol">)</span> --}}
				</div>
				<div id="bottom">
					{{#if comment.text}}
						<div class="description">&mdash; {{comment.text}}</div>
					{{else}}
						{{#if comment.shortText}}
							<div class="description">&mdash; {{comment.shortText}}</div>
						{{/if}}
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}
{{#if type}}
	<div class="returns">
		<h5>Returns:</h5>
		{{!-- The return type --}}
		{{>type type}}
		{{#if comment.returns}}
			<div class="description">{{comment.returns}}</div>
		{{/if}}
	</div>
{{/if}}