<h1><%= @album.band.name %> - <%= @album.title %></h1>

<div class="bands">
    
    <p>year: <%= @album.year %></p>
    <p><%= @album.studio_album ? "studio album" : "live album" %></p>

    <% @album.tracks.each do |track|%>
        <a href="<%= track_url(track.id) %>"><%= track.track_number %>. <%= track.title %></a>
    <% end %>
    <form action="<%= album_url %>" method="POST" class="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete album">
    </form>
</div>

<div>
    <a href="<%= band_url(@album.band_id) %>">back to band page</a>
    <a href="<%= edit_album_url %>">edit album</a>
</div>