doctype html
html
  head
      block head
        title="Infinium"
        link(rel='stylesheet' href='/stylesheets/story-id.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap")
        script(src="/javascripts/layout.js" type="module" defer)
        script(src="/javascripts/user.js" type="module" defer)
        script(src="/javascripts/follow.js" type="module" defer)
        script(src="/javascripts/story-id.js" type="module" defer)
        script(src="/javascripts/modal.js" type="module" defer)
  body
    header
      include user-header-include
    .storyholder
      .recentStories
        .recentStory
          h2(class="recentStory_title")= title
          h3(class="recentStory_subtitle")= subtitle
          a(href=`/users/${userId}`)
            .author_info
              if (authorAvatar)
                img(src=`${authorAvatar}` alt="Author pic" class="author_info_icon")
              else
                img(src="/images/ET.jpg" alt="Default author pic" class="author_info_icon")
              a(href=`/users/${userId}` class="author_info_name")= author
              p(class="author_info_date")= date
        if (story.imageLink)
          .storyImage
            img(src= story.imageLink, alt="doggies" class="storyImage_recent")
        .storyBody
          p= story.published

        .footer_info
          .likes
            //- remove the upvote from non-logged in user and if
            //- user is the author of the story (cannot upvote self)
            img(class="clap-pic" src="/images/lightsaber-0.png" id=`${!locals.authenticated ? "" : (locals.user.id === authorId ? 'novote' : 'upvote')}`)
            .claps
              p(id="likesCount")= storyLikes
              p lightsabers
          a(href="")
            img(id="comment-pic" src="/images/comment-button.png" alt="comment" class="comment_button")
    include user-about-include
    include comments.pug
    include modal-include
    include footer
