<%= @post.title %>
<br>
<img src="<%= @post.url %>" alt="">
<br>
<%= @post.content %>

<% if @post.author_id == current_user.id %>
    <form action="<%= post_url(@post) %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete Post</button>
    </form>
    <a href="<%= edit_post_url(@post) %>">Edit Post</a> 
<% end %>
<br>
<h3>Comments</h3>
<a href="<%= new_post_comment_url(@post) %>">New Comment</a>
<br>
<% @post.top_level_comments.each do |comment| %>
    <a href="<%= comment_url(comment) %>"><%= comment.content %></a>
    <br>
<% end %>