include includes/header
#results-header.container-fluid
    .row.align-items-center
        .col
            a(
                href="/"
            )
                i.fas.fa-home.fa-2x
            h1 Results for '#{searchItem}'
#results.container-fluid
    each item in results
        .row.align-items-center
            .col-md
                img(
                    src=item.image
                    alt=""
                )
                a(
                    href=item.link
                ) #{item.text}
