extends layout
include utils
block content
  div.signupPageContainer
    h1(id="heading") Sign Up
    div.pageWidthContainer
      .container
        if errors
          div#errorDiv
            ul.errorsList
              each error in errors
                li=error
        div#formContainer
          if (pref)
            form(action=`/users?pref=${pref}` method="post" id="form")
              +field2("User Name", "userName", "text", userName)
              +field2("Email", "email", "email", email)
              +field2("Password", "password", "password")
              +field2("Confirm Password", "confirmPassword", "password")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="submit" value="Sign Up" id="loginButton")
              div
              a(href=`/users/login?pref=${pref}` class="formLabel") Log In
          else
            form(action="/users" method="post" id="form")
              +field2("User Name", "userName", "text", userName)
              +field2("Email", "email", "email", email)
              +field2("Password", "password", "password")
              +field2("Confirm Password", "confirmPassword", "password")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="submit" value="Sign Up" id="loginButton")
              div
              a(href="/users/login" class="formLabel") Log In
