<div class="border">
  <h1>
    (<%= @post.votes %>)
    <a href="<%= post_url(@post) %>"><%= @post.title %></a> by
    <%= @post.author.name %>
  </h1>

  <div class="small-border">
    <b>Content:</b>

    <pre><%= @post.content %></pre>
    <br><br>
  </div>

  <form action="<%= upvote_post_url(@post) %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="submit" value="Upvote">
  </form>
  <form action="<%= downvote_post_url(@post) %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="submit" value="Downvote">
  </form>

  <br>
  <b>Subs</b>
  <ul>
    <% @post.subs.each do |sub| %>
      <li><a href="<%= sub_url(sub) %>"><%= sub.name %></a></li>
    <% end %>
  </ul>

  <h2>Comments</h2>

  <a href="<%= new_post_comment_url(@post.id) %>">Comment on this post!</a>
  <br><br>

  <ul>
    <% comments_by_parent = @post.comments_by_parent %>
    <% comments_by_parent[nil].each do |top_level_comment| %>
      <li>
        <%= render("comments/comment",
                   comment: top_level_comment,
                   comments_by_parent: comments_by_parent) %>
      </li>
    <% end %>
  </ul>

  <a href="<%= edit_post_url(@post) if @post.author == current_user %>">Edit</a>
</div>
