
<section>
  <h1><%= @sub.title %></h1>
  <p>Description</p>
  <p><%= @sub.description %></p>
  <p><a href="<%= new_post_url %>">Make New Post!</a></p>
  <ul>
    <% @sub.posts.each do |post| %>
      <li>(<%#= votes.sum %>)
      <a href="<%= post_url(post) %>"><%= post.title %></li></a>
    <% end %>
  </ul>
  <% if logged_in? && current_user.id == @sub.moderator_id %>
    <p><a href="<%= edit_sub_url(@sub) %>">Edit</a></p>
  <% end %>
</section>