extends layout.pug

block content
  h3= park.parkName
  div
    ul
      li= `Location: ${park.city}, ${park.provinceState} ${park.country}`
      li= `Opened: ${park.opened}`
      li= `Size: ${park.size}`
  div
    p= park.description
  div(class='py-4')
      a(class='btn btn-primary' href=`/park/edit/${park.id}` role='button') Edit
      a(class='btn btn-danger ml-2' href=`/park/delete/${park.id}` role='button') Delete
      a(class='btn btn-warning ml-2' href='/parks' role='button') Return to List
  div(class='pt-3 pb-5')
    h3(class='py-2') Attractions
    div(class='py-3')
      a(class='btn btn-success' href=`/park/${park.id}/attraction/add` role='button') Add Attraction
    if park.attractions && park.attractions.length > 0
      table(class='table table-striped table-hover table-sm')
        thead(class='thead-dark')
          tr
            th(scope='col') Attraction Name
            th(scope='col') Theme
            th(scope='col') Opened
            th(scope='col') Riders per Vehicle
            th(scope='col')
        tbody
          each attraction in park.attractions
            tr
              td= attraction.attractionName
              td= attraction.theme
              td= attraction.opened
              td= attraction.ridersPerVehicle
              td: a(class='btn btn-primary' href=`/attraction/${attraction.id}` role='button') Details
    else
      p: em No attractions available for this park.
