<% action = cat.persisted? ? cat_url(cat) : cats_url %>
<% method = cat.persisted? ? :PATCH : :POST  %>
<% submit = cat.persisted? ? "update kitty!" : "create kitty!"  %>
<% h1 = cat.persisted? ? "Edit A Kitty!" : "Create A Kitty!"  %>

<h1> <%= h1 %> </h1>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>" > 

  <label for="name">Name</label>
  <input type="text" name="cat[name]" value="<%= @cat.name  %>"><br>

  <label for="sex">Sex:</label>
  <label for="male">Male</label>
  <input type="radio" name="cat[sex]" value="M" id="male" <%= @cat.sex == "M" ? "checked" : "" %>>

  <label for="female">Female</label>
  <input type="radio" name="cat[sex]" value="F" id="female" <%= @cat.sex == "F" ? "checked" : "" %>><br>

  <label for="color">Color</label>
   <select name="cat[color]" id="">
     <option value="default" disabled>--select a color--</option>

    <% Cat::CAT_COLORS.each do |color| %>
      <% if @cat.color == color %>
        <option value="<%= color %>" selected ><%= color %></option>
        <% else %>
        <option value="<%= color %>" ><%= color %></option>
      <% end %>
    <% end %>

   </select><br>
   <label for="date">Date</label>
   <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>"><br>
   <label for="description">Description</label>
   <textarea name="cat[description]" id=""><%= @cat.description %></textarea><br>
   <input type="submit" value="<%= submit %>"> 

</form>