<section>
  <h1>New Post!</h1>
  <form action="<%= posts_url %>" method="POST">
    <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
    
    <label>Title: 
      <input type="text" name="post[title]">
    </label>
    <label>URL: 
      <input type="text" name="post[url]">
    </label>
    <label>Description: 
      <textarea name="post[content]"></textarea>
    </label>
    <!--place holder-->
    <input type="hidden" name="post[sub_ids][]" value="">

    <% Sub.all.each do |sub| %>
      <label>
      <%= sub.title %>
        <input
          type="checkbox"
          value="<%= sub.id %>"
          name="post[sub_ids][]"
          <%= "checked" if @post.sub_ids.include?(sub.id) %>
        />
      </label>
    <% end %>
    <input type="submit" value="Submit">
    </form>
</section>

