<h1>Add an Album</h1>

<form action="<%= albums_url  %>" method="POST">
    
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div>
        <label for="title">title:</label>
        <input type="text" name="album[title]">
    </div>
    
    <div>
        <label for="album_artist">album artist:</label>
        <select name="album[band_id]" id="album_artist">
            <% Band.all.each do |band|  %>
                <option <%= band.id == @album.band_id ? "selected" : "" %> value="<%= band.id %>"><%= band.name %></option>
            <% end %>
        </select>
    </div>

    <div>
        <label for="live_album">live:</label>
        <input type="radio" name="album[studio_album]" value="false" <%= "checked" unless @album.studio_album %> >
        <label for="studio_album">studio:</label>
        <input type="radio" name="album[studio_album]" value="true" <%= "checked" if @album.studio_album %> >
    </div>
    
    <div>
        <label for="album_year">year:</label>
        <input type="number" name="album[year]">
    </div>
    
    <input type="submit" value="submit">
    
</form>