{{!-- combine the groups and properties, does not need both categories --}}
{{!-- {{combineAccessorAndProperties groups}} --}}
<div id="class-index">
	<h3>Index</h3>
	<div>
		<div class="constructor">
			<h4>Constructor</h4>
			<ul>
				{{#with (getConstructor this)}}
					{{#each this}}
						<li><a href="#{{name}}">{{name}}</a></li>
					{{/each}}
				{{/with}}
			</ul>
		</div>
		<div class="properties">
			<h4>Properties</h4>
			<ul>
				{{#with (getProperties this)}}
					{{#each this}}
						<li><a href="#{{name}}">{{name}}</a></li>
					{{/each}}
				{{/with}}
			</ul>
		</div>
		<div class="methods">
			<h4>Methods</h4>
			<ul>
				{{#with (getMethods this)}}
					{{#each this}}
						<li><a href="#{{name}}">{{name}}</a></li>
					{{/each}}
				{{/with}}
			</ul>
		</div>
	</div>
</div>