{{#compact}}
	<span class="type">
		{{#if this}}
			{{!-- resolve reflection types --}}
			{{#ifCond type "==" "reflection"}}
				{{#compact}}
					{{#if declaration}}
						{{#each declaration.signatures}}
							<span class="signature-symbol">(</span>
							{{#each parameters}}
								<span>{{name}}</span>
								{{!-- {{#if type}}
									<span class="signature-symbol">:</span>
									{{>type type}}
								{{/if}} --}}
								{{#unless @last}}
									<span class="signature-symbol">,</span>
								{{/unless}}
							{{/each}}
							<span class="signature-symbol">) => </span>
							{{>type type}}
						{{/each}}
					{{/if}}
				{{/compact}}
			{{else}}
				{{!-- Operators like and keyof typeof --}}
				{{#if operator}}
					{{operator}} 
					<a href="./interface/{{target.name}}">{{target.name}}</a>
				{{else}}
					{{#if elementType}}
						{{#with elementType}}
							{{#compact}}
								{{#if types}}
									<span class="signature-symbol">(</span>
								{{/if}}
								{{> type}}
								{{#if types}}
									<span class="signature-symbol">)</span>
								{{/if}}<span class="signature-symbol">[]</span>
							{{/compact}}
						{{/with}}
					{{else}}
						{{#if types}}
							{{#each types}}
								{{#if @index}}
									<span class="signature-symbol"> {{#ifCond ../type "==" "intersection"}}&amp;{{else}}|{{/ifCond}} </span>
								{{/if}}{{> type}}
							{{/each}}
						{{else}}
							{{#if elements}}
								{{#compact}}
									<span class="signature-symbol">[</span>

									{{#each elements}}
										{{#if @index}}
											<span class="signature-symbol">, </span>
										{{/if}}{{> type}}
									{{/each}}

									<span class="signature-symbol">]</span>
								{{/compact}}
							{{else}}
								{{#compact}}
									<span class="signature-type">
										{{#if name}}
											{{#if (typeLink id)}}
												<a href="{{typeLink id}}">{{name}}</a>
												{{!-- <iframe data-src="{{typeLink id}}" width="10px" height="10px"></iframe> --}}
											{{else}}
												{{#if name}}
													<span>{{name}}</span>
												{{/if}}
											{{/if}}
										{{else}}
											{{#if value}}
												"{{value}}"
											{{else}}
												{{this}}
											{{/if}}
										{{/if}}
									</span>
									{{#if typeArguments}}
										{{#compact}}
											<span class="signature-symbol">&lt;</span>
											{{#each typeArguments}}
												{{#if @index}}
													<span class="signature-symbol">, </span>
												{{/if}}{{> type}}
											{{/each}}
											<span class="signature-symbol">&gt;</span>
										{{/compact}}
									{{/if}}
								{{/compact}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/ifCond}}
		{{else}}
			<span class="signature-type">void</span>
		{{/if}}
	</span>
{{/compact}}
