<h1><%= @band.name %></h1>

<div class="bands">
    <% @band.albums.each do |album| %>
        <a href="<%= album_url(album.id) %>"><%= album.title %></a>
    <% end %>
</div>


<form action="<%= band_url(@band.id) %>" method="POST" class="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>

<div>
    <a href="<%= new_band_album_url(@band.id) %>">add an album</a>
    <a href="<%= bands_url %>">back to bands</a>
</div>