.about_me.hide
  .person_info
    .nameplate= `About ${name || author}`
      if authCompare
        if description
          p.nameplate_bio= `${description}`
        else
          p.nameplate_bio= `Write something about yourself here ${name}!`
        textarea.nameplate_bio_edit_textbox
        button.nameplate_bio_edit Edit
        button.nameplate_bio_cancel Cancel
        button.nameplate_bio_save Save
      else
        p.nameplate_bio= `${description}`
    .follow_following
      .person_info_following Following #[span #{followingCount}] people
      .person_info_dot .
      if followerCount === 1
        .person_info_follower #[span #{followerCount}] Follower
      else
        .person_info_follower #[span #{followerCount}] Followers
  .profilePic
      if authCompare
        if avatar
          img(src=`${avatar}`, alt="Profile pic" class="profilePic_pic")
        else
          p.profilePic_text= `Upload a photo of yourself here ${name}!`
        form#image-form(enctype="multipart/form-data")
          input(type="file" id="avatar" name="avatar" class="image-form_input")
          button.image-form_upload Upload
      else
        img(src=`${avatar}`, alt="Profile pic" class="profilePic_pic")
