Edit Post

<form action="<%= post_url(@post)  %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="sub_id" value=" <%= @sub_id %> "> 
    <label> Title
        <input type="text" name="post[title]"  value="<%= @post.title  %>">
    </label>
    <label> URL
        <input type="text" name="post[url]"  value="<%= @post.url  %>">
    </label>
    <label> Content
        <input type="text" name="post[content]"  value="<%=  @post.content %>">
    </label>
  
    <input type="submit" value="Save Post">
</form>

