extends layout.pug

include utils.pug

block append head
     link(rel="stylesheet" type="text/css" href="/styles/feed.css")
     script(src="/scripts/feed.js" type="application/javascript")
      meta(property="og:title" content="Survey Donkey")
      meta(property="og:image" content="https://64.media.tumblr.com/0f138e35c544286ec0877af3d2ac69f5/1a2382fe025de4ed-b1/s1280x1920/08804d5954559a6d8209b8913ea46149376196c2.png")
      meta(property="og:description:" content="SurveyDoneky is an interactive survey creation and participation site inspired by SurveyMonkey. Designed using PUG templates for HTML and Bulma for CSS on the front end, with express and sequelize to handle the back end.")
block content

  div(class="columns container is-fluid has-background-light my-1")
      div(class="column ")
      div(class="column is-three-quarters")
          div()
            div(class='tableRows')
              thead
                tr
                  div(class='sOwnerDiv')
                    th(scope='col' class='sOwner') Survey Owner
                  div(class='sNameDiv' href="/feed/name")
                    a(scope='col' class='sName' href="/feed/name") Survey Name
                  div(class='sCreatedDiv' href="/feed/created")
                    a(scope='col' class='created' href="/feed/created") Created
                  div(class='sModifiedDiv' href="/feed/modified")
                    a(scope='col' class='modified' href="/feed/modified") Modified
                  div(class='sQuestionDiv')
                    a(scope='col' class='questions' href="/feed/questions") Questions
                  div(class='upVotesDiv' href="/feed/upvotes")
                    a(scope='col' class='upVotes' href="/feed/upvotes") Upvotes
          if nameFeedSurveys
            tbody
                each survey in nameFeedSurveys
                  li(class="box columns is-vcentered has-text-centered my-3")
                    p(class="column divider") Made By:  #{survey.User.firstName} #{survey.User.lastName}
                    a(class="column divider" href=`/surveys/${survey.id}`) #{survey.name}
                    p(class="column divider") Created:
                      br
                      span() #{JSON.stringify(survey.createdAt).slice(1,11)}
                    p(class="column divider") Modified:
                      br
                      span() #{JSON.stringify(survey.updatedAt).slice(1,11)}
                    p(class="column divider") Questions: #{survey.Questions.length}
                    p(class="column") Upvotes: #{survey.Upvotes.length}
                      br
                      form(action=`/surveys/upvote/${survey.id}` method='post')
                        button(class="button is-primary is-small" type='submit') Upvote!

          if modFeedSurveys
            tbody
                each survey in modFeedSurveys
                  li(class="box columns is-vcentered has-text-centered my-3")
                    p(class="column divider") Made By: #{survey.User.firstName}#{survey.User.lastName}
                    a(class="column divider" href=`/surveys/${survey.id}`) #{survey.name}
                    p(class="column divider") Created:
                      br
                      span() #{JSON.stringify(survey.createdAt).slice(1,11)}
                    p(class="column divider") Modified:
                      br
                      span() #{JSON.stringify(survey.updatedAt).slice(1,11)}
                    p(class="column divider") Questions: #{survey.Questions.length}
                    p(class="column") Upvotes: #{survey.Upvotes.length}
                      br
                      form(action=`/surveys/upvote/${survey.id}` method='post')
                        button(class="button is-primary is-small" type='submit') Upvote!

          if createFeedSurveys
            tbody
                each survey in createFeedSurveys
                  li(class="box columns is-vcentered has-text-centered my-3")
                    p(class="column divider") Made By:  #{survey.User.firstName} #{survey.User.lastName}
                    a(class="column divider" href=`/surveys/${survey.id}`) #{survey.name}
                    p(class="column divider") Created:
                      br
                      span() #{JSON.stringify(survey.createdAt).slice(1,11)}
                    p(class="column divider") Modified:
                      br
                      span() #{JSON.stringify(survey.updatedAt).slice(1,11)}
                    p(class="column divider") Questions: #{survey.Questions.length}
                    p(class="column") Upvotes: #{survey.Upvotes.length}
                      br
                      form(action=`/surveys/upvote/${survey.id}` method='post')
                        button(class="button is-primary is-small" type='submit') Upvote!

          if upvoteSorted
            tbody
                each survey in upvoteSorted
                  li(class="box columns is-vcentered has-text-centered my-3")
                    p(class="column divider") Made By:  #{survey.User.firstName}#{survey.User.lastName}
                    a(class="column divider" href=`/surveys/${survey.id}`) #{survey.name}
                    p(class="column divider") Created:
                      br
                      span() #{JSON.stringify(survey.createdAt).slice(1,11)}
                    p(class="column divider") Modified:
                      br
                      span() #{JSON.stringify(survey.updatedAt).slice(1,11)}
                    p(class="column divider") Questions: #{survey.Questions.length}
                    p(class="column") Upvotes: #{survey.Upvotes.length}
                      br
                      form(action=`/surveys/upvote/${survey.id}` method='post')
                        button(class="button is-primary is-small" type='submit') Upvote!

          if questionsSorted
            tbody
                each survey in questionsSorted
                  li(class="box columns is-vcentered has-text-centered my-3")
                    p(class="column divider") Made By:  #{survey.User.firstName}#{survey.User.lastName}
                    a(class="column divider" href=`/surveys/${survey.id}`) #{survey.name}
                    p(class="column divider") Created:
                      br
                      span() #{JSON.stringify(survey.createdAt).slice(1,11)}
                    p(class="column divider") Modified:
                      br
                      span() #{JSON.stringify(survey.updatedAt).slice(1,11)}
                    p(class="column divider") Questions: #{survey.Questions.length}
                    p(class="column") Upvotes: #{survey.Upvotes.length}
                      br
                      form(action=`/surveys/upvote/${survey.id}` method='post')
                        button(class="button is-primary is-small" type='submit') Upvote!                        

          div()
              a(class="button" href='/create-new-survey' id="createButton") + CREATE

      div(class="column")
  include footer.pug