doctype html
// no longer used as this method of getting results breaks the download functions in the front end. 
head
  // meta data
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // import bootstrap imports
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // import the webpage's stylesheet
  link(rel='stylesheet' href='/style.css')
  // import the webpage's javascript file
  script(src='/search.js' defer='')
  // HEAD CODE STARTS HERE
  title 355 Project
// NAVBAR
nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow
  ul.navbar-nav
    li.nav-item.active
      a.nav-link.text-success(href='index.html') CS355 Project 1
    li.nav-item.dropdown
      a#dropdowncourse.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown') Course
      .dropdown-menu(aria-labelledby='dropdowncourse')
        a.dropdown-item(href='https://learn.zybooks.com/zybook/CUNYCSCI355TeitelmanFall2019') Zybook
        .dropdown-divider
        a.dropdown-item(href='https://app.tophat.com/e/648883/lecture/') Tophat
        .dropdown-divider
        a.dropdown-item(href='https://drive.google.com/drive/folders/1AsHhIFfQ3yNE_m2z4wswRfKh77K0UH9w') Google Drive
        .dropdown-divider
        a.dropdown-item(href='https://www.w3schools.com/') W3Schools
    li.nav-item.dropdown
      a#dropdownabout.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown') About
      .dropdown-menu(aria-labelledby='dropdownabout')
        a.dropdown-item(href='developers.html')  Developers
        .dropdown-divider
        a.dropdown-item(href='contact.html') Contact Us
    li.nav-item.dropdown
      a#dropdownbrowser.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown') Browser
      .dropdown-menu(aria-labelledby='dropdownbrowser')
        a.dropdown-item(href='navigator.html') Navigator
        .dropdown-divider
        a.dropdown-item(href='window.html') Window
        .dropdown-divider
        a.dropdown-item(href='screen.html') Screen
        .dropdown-divider
        a.dropdown-item(href='location.html') Location
        .dropdown-divider
        a.dropdown-item(href='geolocation.html') Geolocation
    li.nav-item.dropdown
      a#navbarSearchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown') Search
      .dropdown-menu(aria-labelledby='navbarSearchDropdown')
        a.dropdown-item(href='search.html') Google Search
        a.dropdown-item(href='customSearch.html') Custom Search
        a.dropdown-item(href='/admin') Admin Page
    li.nav-item.pl-5
      form(action='/custom_search' method='post' enctype='application/x-www-form-urlencoded')
        .input-group.p-2
          input.form-control(type='search' name='searchQuery')
          button.btn.btn-outline-info(type='submit') Search
          input#case.ml-2(type='checkbox' name='case')
          label.m-1(for='case') NOT CASE-SENSITIVE
          input#partial.ml-2(type='checkbox' name='partial')
          label.m-1(for='partial') PARTIAL MATCH
.input-group
  .custom-file
    input#uploadedFile.custom-file-input(type='file' accept='.json, .xml, .csv' onchange='fileHandler(this.files)')
    label#filename.custom-file-label Click here to select a file to upload
  .input-group-append
    button.btn.btn-outline-info(type='button' onclick='showFileResults()') Upload file
    button.btn.btn-outline-info(type='button' onclick='selectAll()') Select all
    button.btn.btn-outline-info(type='button' onclick='deSelectAll()') Deselect all
.input-group.shadow
  input#fileNameForDownload.form-control(type='search' placeholder='Name your download file here')
  .input-group-append
    button.btn.btn-outline-info(type='button' onclick='createAndDownloadJSON()') Create JSON
    button.btn.btn-outline-info(type='button' onclick='createAndDownloadXML()') Create XML
    button.btn.btn-outline-info(type='button' onclick='createAndDownloadCSV()') Create CSV
#card-holder
  if !hasResults
    .d-flex.justify-content-center.mt-5
      .card.m-3.w-50.text-center.shadow
        .card-header.bg-danger.text-white
          h1 oh no!
        #window-info.card-body
          h3
            | No results found in database!
  else
    each row, index in searchResults  
      - var url = row.url
      - var title = row.title
      - var summary = row.summary
      div(style='height:10px;')
      .d-flex.flex-row.justify-content-between.card.shadow
        .p-3
          h4.card-title
            a.card-link.text-primary(href=row.url) #{title}
          p.card-text #{summary}
          p.card-text.address.text-success #{url}
        input.m-5(type='checkbox' name='checkboxes' value='undefined')

  
