<h1>All Goals</h1>

<form action="<%= session_url  %>" method="POST">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <input type="hidden" name="_method" value="delete">
 <input type="submit" value="Sign Out">
</form>

<% @goals.each do |goal| %>
    <%= goal.title %>
    <%= goal.user.username %>
    <%= goal.private ? "private" : "public" %>
    <%= goal.completed ? "completed" : "not" %>
    <a href="<%= edit_goal_url(goal.id) %>">Edit</a>

    
<% end %>