<h1>Cat Show!</h1>
<% age = (Time.now.to_date - @cat.birth_date).to_i/365 %>

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <!-- 
    1) <tbody>
    2) first tr => attribute, value
    3) hard code age, birt_date, color, sex
    -->
    <tbody>
      <tr>
        <td>Attribute</td><td>Value</td>
      </tr>
      <tr>
        <td>Age</td><td>About <%= age %></td>
      </tr>
      <tr>
        <td>Birth_Date</td><td><%= @cat.birth_date %></td>
      </tr>
      <tr>
        <td>Color</td><td><%= @cat.color %></td>
      </tr>
      <tr>
        <td>Sex</td><td><%= @cat.sex %></td>
      </tr>
    </tbody>

</table><br>
<label>Description</label>
<p><%= @cat.description %></p>