<h1>All The Cats!</h1>

<ul>
  <li><a href="<%= cats_url %>">All</a></li>
  <% Tag.all.each do |tag| %>
    <li><a href="<%= cats_url(tag: tag.name) %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= cat_link(cat) %>

      <form action="<%= cat_url(cat) %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Destroy Cat!">
      </form>
    </li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">New Cat!</a>
