<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header_logo">Music App</div>
      <div class="header_buttons">
          <!-- login/signup/logout -->
          <% if current_user.nil? %>
          <a href="<%= new_session_url %>">Log In</a>
          <a href="<%= new_user_url %>">Sign Up</a>
          <% else %>
            <div>Logged in as <%= current_user.email  %></div>
            <form action="<%= session_url %>" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Log Out">
            </form>
          <% end %>
      </div>
    </header>
    <!-- errors -->
    <% if flash[:errors]  %>
      <div class="errors">
        <ul>
          <% flash[:errors].each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
