<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>
<% http_method = sub.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= http_method %>">

  <label>
    Name
    <input name="sub[name]" value="<%= sub.name %>">
  </label>
  <br>

  <label>
    Description
    <textarea name="sub[description]"><%= sub.description %></textarea>
  </label>

  <input type="submit" value="Submit!">
</form>
