<h1><%= @user.username %></h1>

<p>Hello, <%= @user.username %></p>

<p>Current Counter Value: <%= @user.counter %></p>

<form action="/user/counter" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_counter">New Counter Value</label>
  <input type="number" name="user[counter]" id="user_counter">

  <input type="submit" value="Update Counter!">
</form>

<form action="/session" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="submit" value="Logout!">
</form>
