<h2>Edit Post</h2>

<form action="<%= post_url(@post) %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="PATCH">
    <label>
        Title
        <input type="text" name="post[title]" value="<%= @post.title %>">
    </label>
    <br>
    <label>
        URL
        <input type="text" name="post[url]" value="<%= @post.url %>">
    </label>
    <br>
    <label>
        Content
        <input type="text" name="post[content]" value="<%= @post.content%>">
    </label>
    <br>
    <label>Subs</label>
    <br>
    <% Sub.all.each do |sub| %>
        <label>
            <%= sub.title %>
            <input type="checkbox" value="<%= sub.id %>" name="post[sub_ids][]"
                <%= "checked" if @post.subs.include?(sub) %>
            >
            <br>
        </label>
    <% end %>
    <br>
    <button>Update Post</button>
</form>