extends layout.pug

block append head
    link(rel="stylesheet" type="text/css" href="/styles/create-survey.css")
    script(src="/scripts/survey-editor.js" type="application/javascript")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

block content
    div(id="content")
        input(type="hidden" value=surveyId id="surveyId")
        input(type="hidden" value=token name="_csrf" id="csrfToken")
        div(id="main-content" class="py-4")
            div(id="survey-form" class="box container")
                div(id="title-and-button-box")
                    h1(id="survey-preview-title" class="title green has-text-centered")= name
                    div(id="publish-delete-buttons")
                        form(action=`surveys/delete/${surveyId}` method="post")
                                button(id="delete-survey-top" class='button is-danger' type='submit' onclick="return confirm('Are you sure you want to delete this survey?');")
                                    span(class="icon is-small")
                                        i(class="fas fa-trash")
                                    span delete survey
            div(id="options-container" class="option-container box")
                form(id="question-main-prompt-form")
                        input(name="question-text" id="question-text" type="text" placeholder="Enter the text for the new question" class="question-input")
                        label(for="question-type")
                        select(id="question-type" name="question-type" required)
                            option(value="multiple-choice" selected= true id="multiple-choice") multiple choice
                            option(value="scroll") scroll
                            option(value="free-response") free response
                        button(type="submit" id="new-question-options" class="button is-dark is-success")
                            span(class="icon is-small")
                                i(class="fas fa-thumbs-up")
                            span continue
                        button(id="side-save-question" class="button is-dark is-success question-button is-hidden save-question")
                            span(class="icon is-small")
                                    i(class="fas fa-plus")
                            span add question
                div(id="multiple-choice-container" class="is-hidden")
                    div(id="free-response-text-box" class="is-hidden")
                        p(id="free-response-p") Users will enter their responses for this question into a free response box.
                    div(id="scroll-response-box" class="is-hidden scroll-response-box")
                        p(class="scroll-p") Users will choose their response from the following options:
                        div(id="radio-button-holder" class="radio-button-holder")
                            div(class="scroll-option")
                                input(type="radio" name="scroll" value=1)
                                label(for="scroll-option-one" class="radio-label") Strongly Disagree
                            div(class="scroll-option")
                                input(type="radio" name="scroll" value=2)
                                label(for="scroll-option-two" class="radio-label") Disagree
                            div(class="scroll-option")
                                input(type="radio" name="scroll" value=3)
                                label(for="scroll-option-three" class="radio-label") No Opinion
                            div(class="scroll-option")
                                input(type="radio" name="scroll" value=4)
                                label(for="scroll-option-four" class="radio-label") Agree
                            div
                                input(type="radio" name="scroll" value=5 id="scroll-option-five")
                                label(for="scroll-option-five" class="radio-label") Strongly Agree
                    form(class="multiple-choice-option is-hidden" id="multiple-choice-form")
                        input(id="option-one" class="new-option-text" type="text" placeholder=" Enter answer text here...")
                        input(id="option-two" class="new-option-text add-more-options" type="text" placeholder=" Enter answer text here...")
                        input(id="option-three" class="new-option-text add-more-options" type="text" placeholder=" Enter answer text here...")
                        input(id="option-four" class="new-option-text is-hidden" type="text" placeholder=" Enter answer text here...")
                        input(id="option-five" class="new-option-text is-hidden" type="text" placeholder=" Enter answer text here...")
                    div(id="button-holder")
                        button(id="save-question" class="button is-dark is-success question-button save-question")
                            span(class="icon is-small")
                                    i(class="fas fa-plus")
                            span add question
                        button(id="clear-question" class="button is-dark is-info question-button")
                            span(class="icon is-small")
                                i(class="fas fa-eraser")
                            span clear question
                        form(action=`surveys/delete/${surveyId}` method="post")
                            button(id="delete-survey" class='button is-danger' type='submit' onclick="return confirm('Are you sure you want to delete this survey?');")
                                span(class="icon is-small")
                                    i(class="fas fa-trash")
                                span delete survey
            div
                button(class="new-question" id="new-question-button" class="is-hidden button is-dark is-success")
                    span(class="icon is-small")
                        i(class="fas fa-plus")
                    span question
            div(id="bottom-buffer")
        div(id="side-buttons")
            a(id="save-survey" class="button is-light question-button" href="/dashboard")
                span(class="icon is-small")
                    i(class="fas fa-save")
                span save survey
            form(id="publish-survey-form" action=`/publish/${surveyId}` method="post" class="mx-3")
                button(id="publish-survey" class='button is-primary is-fullwidth' type='submit' onclick="return confirm('Are you sure you want to publish?');")
                    span(class="icon is-small")
                        i(class="fas fa-check")
                    span pubslish survey
            button(id="back-to-top" class="button is-info")
                span(class="icon is-small")
                    i(class="fas fa-arrow-up")
                span back to top
    include footer.pug