extends layout.pug

include utils.pug

block append head
    link(rel="stylesheet" type="text/css" href="/styles/dashboard.css")
    script(src="/scripts/dashboard.js" type="application/javascript")
    

block content
    div(class='container is-fluid mb-4 py-5')
        if locals.authenticated
            span(class='px-4 is-size-3') Welcome back, #{user.firstName}!

    div(class="columns container is-fluid has-background-light py-6")
        div(class="column ")
        div(class="column is-three-quarters")
            div(class="columns is-fluid")
                div(class="box column columns my-2 mx-2")
                    div(class="column divider has-text-centered") Published
                        p(class="is-centered") #{ownedSurveys.length - drafts.length}
                    div(class="column  has-text-centered") Drafts
                        p(class="is-centered") #{drafts.length}
                div(class="box column has-text-vcentered has-text-centered my-2 mx-2")
                    p(class="my-5") Total Responses: #{totalResp}
                div(class="box column has-text-centered has-text-vcentered my-2 mx-2") Most popular survey:
                    if (mostPop)
                        div() #{mostPop}
                    else
                        div() No surveys yet!
            if (ownedSurveys.length >= 1)
                div() Recent Surveys:
                    ul
                        each survey in ownedSurveys
                            li(class="box columns is-vcentered my-3")
                                if survey.published
                                    div(class="column divider")
                                        if survey.published
                                            span(class="tag pt-0 mt-0 is-success") Published
                                        else
                                            span(class="tag is-danger") Draft
                                            form(action=`publish/${survey.id}` method="post" class="")
                                                    button(class='button is-success' type='submit' onclick="return confirm('Are you sure you want to publish?');") Publish
                                        p(class="has-text-weight-bold") #{survey.name}
                                    p(class="column divider py-5") Created: #{JSON.stringify(survey.createdAt).slice(1,11)}
                                    p(class="column divider py-5") Modified: #{JSON.stringify(survey.updatedAt).slice(1,11)}
                                    p(class="column divider py-5") Questions: #{survey.Questions.length}
                                    div(class="column dropdown is-hoverable py-0")
                                        div(class="dropdown-trigger")
                                            button(id="optionsButton" class="button has-text-info" aria-haspopup="true" aria-controls="dropdown-menu") Options
                                        div(class="dropdown-menu" id="dropdown-menu" role="menu" aria-hidden="true")
                                            div(class="dropdown-content")
                                                a(href=`surveys/${survey.id}` class="dropdown-item" id=`link${survey.id}`) See Results
                                                a(href=`share/${survey.id}` class="dropdown-item" id='share') Share
                                                form(action=`surveys/delete/${survey.id}` method="post" class="dropdown-item")
                                                    button(class='button is-danger' type='submit' onclick="return confirm('Are you sure you want to delete this survey?');") Delete
                                else
                                    div(class="column divider")
                                        if survey.published
                                            span(class="tag pt-0 mt-0 is-success") Published
                                        else
                                            span(class="tag is-danger") Draft
                                        p(class="has-text-weight-bold") #{survey.name}
                                    p(class="column divider py-5") Created: #{JSON.stringify(survey.createdAt).slice(1,11)}
                                    p(class="column divider py-5") Modified: #{JSON.stringify(survey.updatedAt).slice(1,11)}
                                    p(class="column divider py-5") Questions: #{survey.Questions.length}
                                    form(action=`publish/${survey.id}` method="post" class="mx-3")
                                                    button(class='button is-success' type='submit' onclick="return confirm('Are you sure you want to publish?');") Publish
                                    a(href=`surveys/create/${survey.id}` class="button is-warning mx-3") Edit

            div(class="container is-fluid level")
                a(href="surveys/create" class="button is-success level-right") Create
                a(href="/feed/upvotes" class="button is-warning level-left") Survey Feed


        div(class="column")
    include footer.pug