extends layout.pug

block append head
    script(src="/scripts/dashboard.js" type="application/javascript")

block content
    link(rel="stylesheet" type="text/css" href="/styles/share.css")
    div(class="share__container")
        div(class="columns")
            div(class="column")
            div(class="column has-background-light has-text-centered has-text-vcentered my-6")
                if publish
                    p(class="is-size-3 has-text-success") #{survey.name} has been published!
                p() Here is the url to share #{survey.name}:

                input(class="my-2" id="input" value = `${process.env.DB_HOST}/surveys/${survey.id}` )
                br
                button(class="button is-warning my-2" id="share") Copy URL to clipboard
                br
                a(href=`/surveys/${survey.id}` id="goToSurvey" class="button is-success my-2") Go to Survey!
            div(class="column")
    include footer.pug