mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', pHolder)
  div(class='form-group')
    label(for=fieldName class="label")= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=pHolder class='form-control input')

mixin demofield(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group is-hidden')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')
